html, body{
  height: 100%;
}
#root, .App {
  height: 100%;
}
.algin-center {
  text-align: center;
}
.algin-right {
  text-align: right;
}
.float-right {
  float: right;
}
.mb-16 {
  margin-bottom: 16px;
}
.header-title {
  color: #fff;
  font-size: 1.5rem;
}
.content {
  padding: 0 24px 24px;
  .con-search {
    margin: 10px 0 20px
  }
  .con-inner {
    background-color: #fff;
    padding: 16px;
    min-height: 500px
  }
}
.bread-crumb {
  margin: 16px 0
}